In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

ModuleNotFoundError: No module named 'pandas'

In [11]:
df = pd.read_csv('train.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

# Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [12]:
# 1. Mileage: remove 'kmpl' and 'km/kg'
df['Mileage'] = pd.to_numeric(
    df['Mileage'].astype(str)
        .str.replace('kmpl', '', regex=False)
        .str.replace('km/kg', '', regex=False)
        .str.strip(),
    errors='coerce'
)

# 2. Engine: remove 'CC'
df['Engine'] = pd.to_numeric(
    df['Engine'].astype(str)
        .str.replace('CC', '', regex=False)
        .str.strip(),
    errors='coerce'
)

# 3. Power: remove 'bhp'
df['Power'] = pd.to_numeric(
    df['Power'].astype(str)
        .str.replace('bhp', '', regex=False)
        .str.strip(),
    errors='coerce'
)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

# Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [13]:
# Clean and encode Fuel_Type
df['Fuel_Type'] = df['Fuel_Type'].astype(str).str.strip().str.lower()
df['Fuel_Type'] = df['Fuel_Type'].apply(lambda x: 1 if x == 'petrol' else (0 if x == 'diesel' else None))
df['Fuel_Type'] = df['Fuel_Type'].astype('Int64')

# Clean and encode Transmission
df['Transmission'] = df['Transmission'].astype(str).str.strip().str.lower()
df['Transmission'] = df['Transmission'].apply(lambda x: 1 if x == 'manual' else (0 if x == 'automatic' else None))
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,NaN,3.50

# Creating one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [14]:
current_year = datetime.now().year  # or simply use 2025 if that's fixed

# Create 'Car_Age' column
df['Car_Age'] = current_year - df['Year']
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,NaN,12.50,10
1,2,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,8.61 Lakh,4.50,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,NaN,6.00,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,NaN,17.74,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,NaN,3.50,12

# Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [19]:
# SELECT: Selecting a few relevant columns
selected_df = df[['Name', 'Location', 'Year', 'Mileage', 'Price']]
print("\n SELECT Operation Output:")
print(selected_df.head())

# FILTER: Filter cars with price > 10 lakh
filtered_df = df[df['Price'] > 10]
print("\n FILTER Operation Output (Price > 10 Lakh):")
print(filtered_df[['Name', 'Price']].head())

# RENAME: Rename 'Name' column to 'Car_Model'
renamed_df = df.rename(columns={'Name': 'Car_Model'})
print("\n RENAME Operation Output ('Name' → 'Car_Model'):")
print(renamed_df[['Car_Model', 'Location']].head())

# MUTATE: Create a new column 'Price_per_km'
df['Price_per_km'] = (df['Price'] * 100000) / df['Kilometers_Driven']
print("\n MUTATE Operation Output (New column 'Price_per_km'):")
print(df[['Name', 'Kilometers_Driven', 'Price', 'Price_per_km']].head())

# ARRANGE: Sort by 'Price' descending
arranged_df = df.sort_values(by='Price', ascending=False)
print("\n ARRANGE Operation Output (Sorted by 'Price' descending):")
print(arranged_df[['Name', 'Price']].head())
# print(arranged_df.head())

# SUMMARIZE: Average 'Mileage' and 'Price' by original 'Fuel_Type'
# (we group before one-hot encoding to keep it simple)
summary_df = df.groupby('Fuel_Type').agg({'Mileage': 'mean', 'Price': 'mean'}).reset_index()
print("\n SUMMARIZE Operation Output (Grouped by 'Fuel_Type'):")
print(summary_df)

 SELECT Operation Output:
                               Name    Location  Year  Mileage  Price
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015    19.67  12.50
1                      Honda Jazz V     Chennai  2011    13.00   4.50
2                 Maruti Ertiga VDI     Chennai  2012    20.77   6.00
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013    15.20  17.74
4            Nissan Micra Diesel XV      Jaipur  2013    23.08   3.50

 FILTER Operation Output (Price > 10 Lakh):
                                 Name  Price
0    Hyundai Creta 1.6 CRDi SX Option  12.50
3     Audi A4 New 2.0 TDI Multitronic  17.74
5   Toyota Innova Crysta 2.8 GX AT 8S  17.50
11   Land Rover Range Rover 2.2L Pure  27.00
12     Land Rover Freelander 2 TD4 SE  17.50

 RENAME Operation Output ('Name' → 'Car_Model'):
                          Car_Model    Location
0  Hyundai Creta 1.6 CRDi SX Option        Pune
1                      Honda Jazz V     Chennai
2                 Maruti Ertiga VDI     Chennai
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore
4            Nissan Micra Diesel XV      Jaipur

 MUTATE Operation Output (New column 'Price_per_km'):
                               Name  Kilometers_Driven  Price  Price_per_km
0  Hyundai Creta 1.6 CRDi SX Option              41000  12.50     30.487805
1                      Honda Jazz V              46000   4.50      9.782609
2                 Maruti Ertiga VDI              87000   6.00      6.896552
3   Audi A4 New 2.0 TDI Multitronic              40670  17.74     43.619375
4            Nissan Micra Diesel XV              86999   3.50      4.023035

 ARRANGE Operation Output (Sorted by 'Price' descending):
                                             Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67

 SUMMARIZE Operation Output (Grouped by 'Fuel_Type'):
   Fuel_Type    Mileage      Price
0          0  18.652661  12.960686
1          1  17.576509   5.756688